<div class="col-md-12">
    <form id="search-form" role="search" asp-controller="Search">
        <div class="input-group mb-3">
            <input class="form-control form-control-lg" placeholder="Search by Item #, Description or UPC" id="query" name="query" type="text" value="@(ViewData["Query"] != null  ? (string) ViewData["Query"] : "")">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-search px-3" aria-hidden="true"></i></button>
            </div>
        </div>
        <a href="#?" data-toggle="collapse" data-target="#demo" class="float-right">Advanced Search Options</a><br />

        <div id="demo" class="collapse">
            <div class="row">
                <div class="col-md-3">
                    <label>Status</label>
                    <select class="selectpicker form-control search-result-filter" multiple>
                        <option selected>Active</option>
                        <option selected>Inactive</option>
                        <option selected>Draft</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Vendor</label>
                    <select class="selectpicker form-control search-result-filter" data-live-search="true" multiple>
                        <option id='Sondra Sautner  '>Sondra Sautner  </option>
                        <option id='Boris Brunett  '>Boris Brunett  </option>
                        <option id='Dayna Daw  '>Dayna Daw  </option>
                        <option id='Noble Nealon  '>Noble Nealon  </option>
                        <option id='Jada Justin  '>Jada Justin  </option>
                        <option id='Robbie Reason  '>Robbie Reason  </option>
                        <option id='Jeremiah Jinkins  '>Jeremiah Jinkins  </option>
                        <option id='Lin Loud  '>Lin Loud  </option>
                        <option id='Sophie Schiffer  '>Sophie Schiffer  </option>
                        <option id='Kerrie Kjos  '>Kerrie Kjos  </option>
                        <option id='Lise Linney  '>Lise Linney  </option>
                        <option id='Valentin Vanderhoff  '>Valentin Vanderhoff  </option>
                        <option id='Kimberly Kegler  '>Kimberly Kegler  </option>
                        <option id='Theressa Tinkham  '>Theressa Tinkham  </option>
                        <option id='Isabella Ingenito  '>Isabella Ingenito  </option>
                        <option id='Arlena Amyx  '>Arlena Amyx  </option>
                        <option id='Ariel Arebalo  '>Ariel Arebalo  </option>
                        <option id='Arlen Albright  '>Arlen Albright  </option>
                        <option id='Justin Jacobson  '>Justin Jacobson  </option>
                        <option id='Darleen Ducharme  '>Darleen Ducharme  </option>
                        <option id='Daniela Dicken  '>Daniela Dicken  </option>
                        <option id='Xuan Xiong  '>Xuan Xiong  </option>
                        <option id='Tora Triplett  '>Tora Triplett  </option>
                        <option id='Charles Card  '>Charles Card  </option>
                        <option id='Bridgett Bachelder  '>Bridgett Bachelder  </option>
                        <option id='Jamee Janda  '>Jamee Janda  </option>
                        <option id='Jermaine Jennette  '>Jermaine Jennette  </option>
                        <option id='Analisa Aguinaga  '>Analisa Aguinaga  </option>
                        <option id='Luz Lash  '>Luz Lash  </option>
                        <option id='Stephani Sellner  '>Stephani Sellner  </option>
                        <option id='Jaquelyn Jolliff  '>Jaquelyn Jolliff  </option>
                        <option id='Nga Napoleon  '>Nga Napoleon  </option>
                        <option id='Adella August  '>Adella August  </option>
                        <option id='Soon Sunderman  '>Soon Sunderman  </option>
                        <option id='Gigi Glidewell  '>Gigi Glidewell  </option>
                        <option id='Reuben Reynolds  '>Reuben Reynolds  </option>
                        <option id='Dorathy Dustin  '>Dorathy Dustin  </option>
                        <option id='Zachery Zale  '>Zachery Zale  </option>
                        <option id='Erlene Ell  '>Erlene Ell  </option>
                        <option id='Lilli Lohse  '>Lilli Lohse  </option>
                        <option id='Casey Carstens  '>Casey Carstens  </option>
                        <option id='Genie Guerrero  '>Genie Guerrero  </option>
                        <option id='Victor Vanderslice  '>Victor Vanderslice  </option>
                        <option id='Ria Ratcliff  '>Ria Ratcliff  </option>
                        <option id='Esta Ebert  '>Esta Ebert  </option>
                        <option id='Damaris Deroche  '>Damaris Deroche  </option>
                        <option id='Matthew Mcgray  '>Matthew Mcgray  </option>
                        <option id='Dick Dusek  '>Dick Dusek  </option>
                        <option id='Francoise Foushee  '>Francoise Foushee  </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Pillar</label>
                    <select class="selectpicker form-control search-result-filter" multiple>
                        <option selected>Natural & Organic</option>
                        <option selected>Cheese & Dairy</option>
                        <option selected>Seafood</option>
                        <option selected>Meats</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Brand</label>
                    <select class="selectpicker form-control search-result-filter" data-live-search="true">
                        <option id='Sondra Sautner  '>Sondra Sautner  </option>
                        <option id='Boris Brunett  '>Boris Brunett  </option>
                        <option id='Dayna Daw  '>Dayna Daw  </option>
                        <option id='Noble Nealon  '>Noble Nealon  </option>
                        <option id='Jada Justin  '>Jada Justin  </option>
                        <option id='Robbie Reason  '>Robbie Reason  </option>
                        <option id='Jeremiah Jinkins  '>Jeremiah Jinkins  </option>
                        <option data-divider="true"></option>
                        <option id='Lin Loud  '>Lin Loud  </option>
                        <option id='Sophie Schiffer  '>Sophie Schiffer  </option>
                        <option id='Kerrie Kjos  '>Kerrie Kjos  </option>
                        <option id='Lise Linney  '>Lise Linney  </option>
                        <option id='Valentin Vanderhoff  '>Valentin Vanderhoff  </option>
                        <option id='Kimberly Kegler  '>Kimberly Kegler  </option>
                        <option id='Theressa Tinkham  '>Theressa Tinkham  </option>
                        <option id='Isabella Ingenito  '>Isabella Ingenito  </option>
                        <option id='Arlena Amyx  '>Arlena Amyx  </option>
                        <option id='Ariel Arebalo  '>Ariel Arebalo  </option>
                        <option id='Arlen Albright  '>Arlen Albright  </option>
                        <option id='Justin Jacobson  '>Justin Jacobson  </option>
                        <option id='Darleen Ducharme  '>Darleen Ducharme  </option>
                        <option data-divider="true"></option>
                        <option id='Daniela Dicken  '>Daniela Dicken  </option>
                        <option id='Xuan Xiong  '>Xuan Xiong  </option>
                        <option id='Tora Triplett  '>Tora Triplett  </option>
                        <option id='Charles Card  '>Charles Card  </option>
                        <option id='Bridgett Bachelder  '>Bridgett Bachelder  </option>
                        <option id='Jamee Janda  '>Jamee Janda  </option>
                        <option id='Jermaine Jennette  '>Jermaine Jennette  </option>
                        <option id='Analisa Aguinaga  '>Analisa Aguinaga  </option>
                        <option id='Luz Lash  '>Luz Lash  </option>
                        <option id='Stephani Sellner  '>Stephani Sellner  </option>
                        <option id='Jaquelyn Jolliff  '>Jaquelyn Jolliff  </option>
                        <option data-divider="true"></option>
                        <option id='Nga Napoleon  '>Nga Napoleon  </option>
                        <option id='Adella August  '>Adella August  </option>
                        <option id='Soon Sunderman  '>Soon Sunderman  </option>
                        <option id='Gigi Glidewell  '>Gigi Glidewell  </option>
                        <option id='Reuben Reynolds  '>Reuben Reynolds  </option>
                        <option id='Dorathy Dustin  '>Dorathy Dustin  </option>
                        <option id='Zachery Zale  '>Zachery Zale  </option>
                        <option id='Erlene Ell  '>Erlene Ell  </option>
                        <option id='Lilli Lohse  '>Lilli Lohse  </option>
                        <option data-divider="true"></option>
                        <option id='Casey Carstens  '>Casey Carstens  </option>
                        <option id='Genie Guerrero  '>Genie Guerrero  </option>
                        <option id='Victor Vanderslice  '>Victor Vanderslice  </option>
                        <option id='Ria Ratcliff  '>Ria Ratcliff  </option>
                        <option id='Esta Ebert  '>Esta Ebert  </option>
                        <option id='Damaris Deroche  '>Damaris Deroche  </option>
                        <option id='Matthew Mcgray  '>Matthew Mcgray  </option>
                        <option id='Dick Dusek  '>Dick Dusek  </option>
                        <option id='Francoise Foushee  '>Francoise Foushee  </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Gluten Free</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck1">Halal</label>
                    </div>
                </div>

                <div class="col-12 text-center mt-4"><button class="btn btn-success btn-lg mx-auto">Apply Filter</button></div>
            </div>
            </div>
    </form>
</div>
