<div class="col-md-12">
    <form id="search-form" role="search" asp-controller="Search">
        <div class="input-group mb-3">
            <input class="form-control form-control-lg" placeholder="Search for Items" id="query" name="query" type="text" value="@(ViewData["Query"] != null  ? (string) ViewData["Query"] : "")">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-search px-3" aria-hidden="true"></i></button>
            </div>
        </div>
        <a href="#?" data-toggle="collapse" data-target="#demo" class="float-right">Advanced Search Options</a><br />

        <div id="demo" class="collapse">
            <div class="row">
                <div class="col-md-3">
                    <label>Status</label>
                    <select class="selectpicker form-control search-result-filter" multiple>
                        <option selected>Active</option>
                        <option selected>Inactive</option>
                        <option selected>Draft</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>CDM</label>
                    <select class="selectpicker form-control search-result-filter" data-live-search="true" multiple>
                        <option>John Doe</option>
                        <option>Terry Huang</option>
                        <option>Vincent Perry</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Pillar</label>
                    <select class="selectpicker form-control search-result-filter" multiple>
                        <option selected>Natural & Organic</option>
                        <option selected>Cheese & Dairy</option>
                        <option selected>Seafood</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Filter 4</label>
                    <select class="selectpicker form-control search-result-filter" data-live-search="true">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option data-divider="true"></option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>
            </div>
            
        </div>
    </form>
</div>
