<div class="col-md-12">
    <form id="search-form" role="search" asp-controller="Search">
        <div class="input-group mb-3">
            <input class="form-control form-control-lg" placeholder="Search by Item #, Description or UPC" id="query" name="query" type="text" value="@(ViewData["Query"] != null  ? (string) ViewData["Query"] : "")">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-search px-3" aria-hidden="true"></i></button>
            </div>
        </div>
        <a href="#?" data-toggle="collapse" data-target="#demo" class="float-right">Advanced Search Options</a><br />

        <div id="demo" class="collapse">
            <div class="row">
                <div class="col-md-3">
                    <label>Status</label>
                    <select class="selectpicker form-control search-result-filter" multiple>
                        <option selected>Active</option>
                        <option selected>Inactive</option>
                        <option selected>Draft</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Vendor</label>
                    <select class="selectpicker form-control search-result-filter" data-live-search="true" multiple>
                        <option id='Sondra Sautner  '>Tostitos</option>
                        <option id='Boris Brunett  '>Ziggy's </option>
                        <option id='Dayna Daw  '>Lindor</option>
                        <option id='Noble Nealon  '>Meilson</option>
                        <option id='Jada Justin  '>Black Diamond</option>
                        <option id='Robbie Reason  '>Coeur de Lion</option>
                        <option id='Jeremiah Jinkins'>Kikkoman</option>
                        <option id='Jeremiah Jinkins  '>Thai Kitchen</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Pillar</label>
                    <select class="selectpicker form-control search-result-filter" multiple>
                        <option selected>Natural & Organic</option>
                        <option selected>Cheese & Dairy</option>
                        <option selected>Seafood</option>
                        <option selected>Meats</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Brand</label>
                    <select class="selectpicker form-control search-result-filter" data-live-search="true">
                        <option id='Sondra Sautner  '>Tostitos</option>
                        <option id='Boris Brunett  '>Ziggy's </option>
                        <option id='Dayna Daw  '>Lindor</option>
                        <option id='Noble Nealon  '>Meilson</option>
                        <option id='Jada Justin  '>Black Diamond</option>
                        <option id='Robbie Reason  '>Coeur de Lion</option>
                        <option id='Jeremiah Jinkins  ' selected>Kikkoman</option>
                        <option id='Jeremiah Jinkins  '>Thai Kitchen</option>
                    </select>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chk_gluten" name="chk_gluten">
                        <label class="custom-control-label" for="chk_gluten">Gluten Free</label>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chk_halal" name="chk_halal">
                        <label class="custom-control-label" for="chk_halal">Halal</label>
                    </div>
                </div>

                <div class="col-12 text-center mt-4"><button class="btn btn-success btn-lg mx-auto">Apply Filter</button></div>
            </div>
            </div>
    </form>
</div>
