<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("index","home","index")">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">TOL</li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","home")">
                    <i class="nav-icon icon-magnifier"></i> Pricing Project
                </a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
