@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/bs-select")
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Page Content -->
        <div class="mx-auto text-center my-4"><h1>Item Master Inquiry</h1></div>

        <hr>
        @Html.Partial("_SearchPartial")
        <div id="searchResults" class="my-5 searchresult mx-4">
            <h5>Search Results</h5>
            <hr />
            <h5 class="text-secondary text-center my-4">Showing 1 - 8 of 8 Results</h5>
            <ul class="row">

                <li class="col-12 col-md-6 col-lg-2">
                    <a href="@Url.Action("Inquiry", null, new { area = string.Empty, controller = "Item" }, Request.Url.Scheme)">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>

                <li class="col-12 col-md-6 col-lg-2">
                    <a href="@Url.Action("Edit", null, new { area = string.Empty, controller = "Item" }, Request.Url.Scheme)">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30900</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>OM RAW EP 26/30 WT SHRIMP</h5>
                            <p><span class="text-danger">INACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>40545</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>RUBICON MANGO JUICE DRINK</h5>
                            <p><span class="text-success">INACTIVE</span> - 06/26/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>56455</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>BRM MUESLI 8 CS SHIPPER</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->