
@{
    ViewBag.Title = "Create";
}

<div class="container-fluid mt-3">
    <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
    <div class="mb-4">
        <h5><b>Item ID:</b> 30002</h5>
        <h5><b>Status:</b> <span class="text-success">Active - 9/09/14</span></h5>
        <h5><b>Product:</b> Minsa Corn Flour Tam 2KG</h5>
    </div>
</div>

