
@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid mt-3">
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><i class="fa fa-long-arrow-left pr-2"></i>Back to Index</a>
    <hr />
    <div class="row">
        <div class="col-9">
            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
            <div class="mb-4">
                <h5><b>Item ID:</b> 57187</h5>
                <h5><b>Status:</b> <span class="text-success">Active - 09/26/2005</span></h5>
                <h5><b>Product:</b> KIKKOMAN ORGANIC SOY SAUCE / KIKKOMAN - SAUCE SOYA BIOLOGIQUE</h5>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-lg btn-block btn-outline-info">Generate Marketing Report</button>
            <button class="btn btn-lg btn-block btn-outline-primary">Generate Sales Report</button>
            <button class="btn btn-lg btn-block btn-outline-dark">Generate Admin Report</button>
        </div>
    </div>
    <hr />
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vendor / Supplier</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Kikkoman</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sales Rep</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Keira Hall</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">UPC</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">	00041390001901</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Size</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">1 Carton / 6 Case / 296ML</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-productinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-productinfo">
            <h6 class="m-0 font-weight-bold text-white">Product Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-productinfo">
            <div class="card-body">
                <div class="row container">
                    <div class="col">
                        <span><b>National Product Manager: </b><input type="text" class="form-control-plaintext" value="U2" readonly /></span>
                        <span><b>Regional Product Manager:</b> <input readonly class="form-control-plaintext" value="U2" /></span>
                        <span><b>Item Type: </b><input type="text" class="form-control-plaintext" value="Purchased For Resale" readonly /></span>
                        <span><b>Masterial Type: </b><input type="text" class="form-control-plaintext" value="N/a" readonly /></span>
                        <span>
                            <b>Product Groups: </b><br />
                            <span class="d-inline-flex">
                                <input type="number" class="form-control" value="80" style="width:70px;" readonly>
                                <input type="number" class="form-control" value="10" style="width:70px;" readonly>
                                <input type="number" class="form-control" value="27" style="width:70px;" readonly>
                                <input type="number" class="form-control" value="05" style="width:70px;" readonly>
                            </span>
                        </span><br />
                        <span><b>Case UPC: </b><input type="number" class="form-control-plaintext" value="10041390001908" readonly /></span>
                        <span><b>WT/Case:</b> <input type="text" class="form-control-plaintext" value=" 3.379 KG(s)" readonly /></span>
                        <span><b>Bottle Size:</b> <input type="text" class="form-control-plaintext" value=" N/a" readonly /></span>
                        <span><b>Moving Avg Cost:</b> <input type="text" class="form-control-plaintext" value="$2.89443 / Piece " readonly /> </span>
                        <span><b>Last Month MAC:</b> <input type="text" class="form-control-plaintext" value="$2.89443 / Piece" readonly /></span>

                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Sold by Weight</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Splitable</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Charge for Split</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Rebate Code</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Allow Discount</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">GST</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">PST</label>
                        </div>
                        <hr />

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Perishable / Seasonal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Slow Moving</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Hold</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Print Price List</label>
                        </div>
                        <hr />
                        <span><b>Principal:</b> <input readonly class="form-control-plaintext" value="231" /></span>
                        <span><b>Catalog Code:</b> <input readonly class="form-control-plaintext" value="N/A" /></span>
                        <span><b>Commission Code:</b> <input readonly class="form-control-plaintext" value="R" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Supply Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-supplyinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-supplyinfo">
            <h6 class="m-0 font-weight-bold text-white">Supply Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-supplyinfo">
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    <b>Currency:</b> $USD
                </div>
                <div class="row container">

                    <div class="col">
                        <span><b>Supplier List:</b> <input type="text" class="form-control-plaintext" value="U$2.09167 / Piece" readonly /></span>
                        <span><b>List Expiry:</b> <input type="date" class="form-control-plaintext" value="2019-12-31" readonly /></span>
                        <span><b>Equivalent Case:</b> <input type="text" class="form-control-plaintext" value="1.000 Factor" readonly /></span>
                        <span><b>Supplier Pallet Size:</b> <input type="text" class="form-control-plaintext" value="250 H/S" readonly /></span>
                        <span><b>Code:</b> <input type="text" class="form-control-plaintext" value="0000000000" readonly /></span>
                        <span><b>T/C Code:</b> <input type="text" class="form-control-plaintext" value="00" readonly /></span>
                        
                    </div>
                    <div class="col-auto">
                        <span><b>Supplier Item Number:</b> <input type="number" class="form-control-plaintext" value="00190" readonly /></span>
                        <span><b>Duty:</b> <input type="text" class="form-control-plaintext" value="0.00%" readonly /></span>
                        <hr />
                        <span><b>Suggested Retail:</b> <input type="text" class="form-control-plaintext" value="$6.79 / Piece" readonly /></span>
                        <span><b>Base:</b> <input type="text" class="form-control-plaintext" value="$26.58 / Case" readonly /></span>
                        <span><b>High End Deal:</b> <input type="text" class="form-control-plaintext text-danger" value="($2.65 / Case)" readonly /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Supply Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-warehouseinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-warehouseinfo">
            <h6 class="m-0 font-weight-bold text-white">Warehouse / Stock Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-warehouseinfo">
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    <b>Warehouse Location: </b> KPV 31 A
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Warehouse Stock</th>
                            <th>Toronto/Mississauga</th>
                            <th>Calgary</th>
                            <th>Surrey</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cases On Order</td>
                            <td>850</td>
                            <td>100</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>Cases On Hand</td>
                            <td>287</td>
                            <td>232</td>
                            <td>131</td>
                        </tr>
                        <tr>
                            <td>Cases Allocated</td>
                            <td>3</td>
                            <td>0</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Cases Available</td>
                            <td>284</td>
                            <td>232</td>
                            <td>129</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>
