
@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid mt-3">
    @Html.Partial("_Breadcrumb")
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><i class="fa fa-long-arrow-left pr-2"></i>Back to Index</a>
    <hr />
    <div class="row">
        <div class="col-9">
            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
            <div class="mb-4">
                <h5><b>Item ID:</b> 30002</h5>
                <h5><b>Status:</b> <span class="text-success">Active - 9/09/14</span></h5>
                <h5><b>Product:</b> Minsa Corn Flour Tam 2KG</h5>
            </div>
        </div>
        <div class="col-3">
            <button class="btn-lg btn-block btn-info">Generate Marketing Report</button>
            <button class="btn-lg btn-block btn-warning">Generate Sales Report</button>
            <button class="btn-lg btn-block btn-dark">Generate Admin Report</button>
        </div>
    </div>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#packaging">Packaging</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sales">Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#warehouse">Warehouse/Purchasing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#marketing">Marketing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#health">Health</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nutrition">Nutrition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pricing">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#stewardship">Stewardship Program</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div id="tab-content" name="tab-content" class="tab-content">
        <div id="packaging" class="container-fluid tab-pane active">
            <br>
            <h3>Packaging</h3>
            <form id="form-packaging">
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputECCEN">ECC</label>
                            <input type="text" class="form-control" id="inputECCEN" placeholder="(EN) ECC">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputECCENG">Ex</label>
                            <input type="text" class="form-control" id="inputExEN" placeholder="(EN) Ex">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputECCFR" placeholder="(FR) ECC">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputExFR" placeholder="(FR) Ex">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chkECC">
                                <label class="custom-control-label" for="chkECC">ECC</label>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chkKit">
                                <label class="custom-control-label" for="chkKit">Kit</label>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chkFoodService">
                                <label class="custom-control-label" for="chkFoodService">Food Service</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <!--UPC Table-->
                    <table class="table col-md-5">
                        <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>UPC</th>
                                <th>Size</th>
                                <th>Units</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Unit</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" maxlength="14"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:75px;" maxlength="3"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select name="unit" class="form-control smallSelect">
                                            <option value="KG" selected>KG</option>
                                            <option value="Lb">Lb</option>
                                            <option value="g">g</option>
                                            <option value="L">L</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Case</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" maxlength="14"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:75px;" maxlength="3"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>B#U</td>
                            </tr>
                            <tr>
                                <td>Master</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" maxlength="14"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:75px;" maxlength="3"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>E#B</td>
                            </tr>
                            <tr>
                                <td>CFIA Hold</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkRcpHold">
                                        <label class="custom-control-label" for="chkRcpHold">Rcp Hold</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:75px;" maxlength="3"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>R#U</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--GTIN Table-->
                    <table class="table col-md-6 offset-md-1">
                        <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>GTIN (ECC)</th>
                                <th>I</th>
                                <th>INR</th>
                                <th>TOT</th>
                                <th>PK</th>
                                <th>QU</th>
                                <th>TP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EA</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" maxlength="14"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" value="EA" style="width:50px;" maxlength="2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" value="UP" style="width:50px;" maxlength="2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" value="EA" style="width:50px;" maxlength="2" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>PK</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" maxlength="14"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" style="width:50px;" maxlength="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" style="width:50px;" maxlength="2">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" style="width:50px;" maxlength="2">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>CA</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" maxlength="14"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="inputExEN" placeholder="2" style="width:50px;" maxlength="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" value="CA" style="width:50px;" maxlength="2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" value="UK" style="width:50px;" maxlength="2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputExEN" style="width:50px;" maxlength="2">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-right">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkDisplayReady">
                                        <label class="custom-control-label" for="chkDisplayReady">Display Ready</label>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <hr>
                <div class="form-row">
                    <!--UPC Table-->
                    <table class="table col-md-5">
                        <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>Length</th>
                                <th>Width</th>
                                <th>Height</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Unit</td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Case</td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Master</td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" placeholder="" id="mail" name="email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-4 offset-md-1">
                        <div class="form-group row">
                            <label class="col-md-6">Equivalent Cases (3)</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-6">Bottle Size</label>
                            <input type="text" class="form-control col-md-5">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-6">Material</label>
                            <input type="text" class="form-control col-md-5">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-6">KG per Case</label>
                            <input type="text" class="form-control col-md-5">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-6">Vendor Pallet Size</label>
                            <input type="text" class="form-control col-md-5">
                        </div>
                    </div>
                </div>
                <div class="row container">
                    <h5>ECC</h5>
                </div>
                <hr>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="row my-1">
                            <label class="col-md-6">Gross Weight EA</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Gross Weight inner</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Gross Weight</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Pack</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Size</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Pallet tie WHS</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="row my-1">
                            <label class="col-md-6">Package form EA</label>
                            <select id="PackformEA" class="form-control col-md-5">
                                <option selected>Choose...</option>
                                <option>BAG</option>
                                <option>BDL</option>
                                <option>BLK</option>
                                <option>BOT</option>
                                <option>BOX</option>
                                <option>CAN</option>
                                <option>CAS</option>
                                <option>CYL</option>
                                <option>DRM</option>
                                <option>JAR</option>
                                <option>PAL</option>
                                <option>PKG</option>
                                <option>PLT</option>
                                <option>SRW</option>
                                <option>TBE</option>
                                <option>TRY</option>
                                <option>TUB</option>
                                <option>WRP</option>
                            </select>
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Package form PK</label>
                            <select id="PackformPK" class="form-control col-md-5">
                                <option selected>Choose...</option>
                                <option>BAG</option>
                                <option>BDL</option>
                                <option>BLK</option>
                                <option>BOT</option>
                                <option>BOX</option>
                                <option>CAN</option>
                                <option>CAS</option>
                                <option>CYL</option>
                                <option>DRM</option>
                                <option>JAR</option>
                                <option>PAL</option>
                                <option>PKG</option>
                                <option>PLT</option>
                                <option>SRW</option>
                                <option>TBE</option>
                                <option>TRY</option>
                                <option>TUB</option>
                                <option>WRP</option>
                            </select>
                        </div>
                        <div class="row my-1">
                            <br><br>
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Package material EA</label>
                            <select id="PackmatEA" class="form-control col-md-5">
                                <option selected>Choose...</option>
                                <option>Aluminum</option>
                                <option>Corrugated or Solid</option>
                                <option>Fibre</option>
                                <option>Fibre (Paperboard)</option>
                                <option>Glass</option>
                                <option>Steel that has been covered with a plastic</option>
                                <option>Metal</option>
                                <option>Not Otherwise Specified</option>
                                <option>Paper</option>
                                <option>Plastic</option>
                                <option>Polystyrene</option>
                                <option>Wood</option>
                                <option>Double Wall Corrugated Board</option>
                                <option>Polyethylene Terephthalate (PET)</option>
                            </select>
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Package material PK</label>
                            <select id="PackmatPK" class="form-control col-md-5">
                                <option selected>Choose...</option>
                                <option>Aluminum</option>
                                <option>Corrugated or Solid</option>
                                <option>Fibre</option>
                                <option>Fibre (Paperboard)</option>
                                <option>Glass</option>
                                <option>Steel that has been covered with a plastic</option>
                                <option>Metal</option>
                                <option>Not Otherwise Specified</option>
                                <option>Paper</option>
                                <option>Plastic</option>
                                <option>Polystyrene</option>
                                <option>Wood</option>
                                <option>Double Wall Corrugated Board</option>
                                <option>Polyethylene Terephthalate (PET)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="row my-1">
                            <label class="col-md-6">Net Weight EA</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Net Weight inner</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Net Weight</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                        <div class="row my-1 ">
                            <label class="col-md-6">Packing - loose</label>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Size UOM</label>
                            <input type="text" class="form-control col-md-5" maxlength="2" max-width="50px">
                        </div>
                        <div class="row my-1">
                            <label class="col-md-6">Pallet tie WHS</label>
                            <input type="number" class="form-control col-md-5">
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-lg btn-success">Submit</button>
            </form>
        </div>
        <div id="sales" class="container tab-pane fade">
            <br>
            <h3>Sales</h3>
            <h3>Packaging</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>I am a paragraph.</p>
            <div>I am a div element inside div.</div>
            <button class="btn">I am a button</button>
            <button class="btn btn-info">Another button</button>
            <p>Another paragraph.</p>
        </div>
        <div id="warehouse" class="container tab-pane fade">
            <br>
            <h3>Warehouse / Purchasing</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="marketing" class="container tab-pane fade">
            <br>
            <h3>Marketing</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="health" class="container tab-pane fade">
            <br>
            <h3>Health</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="nutrition" class="container tab-pane fade">
            <br>
            <h3>Nutrition</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="pricing" class="container tab-pane fade">
            <br>
            <h3>Pricing</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="product" class="container tab-pane fade">
            <br>
            <h3>Product</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="stewardship" class="container tab-pane fade">
            <br>
            <h3>Stewardship Program</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
    <div id="myDIV" class="mt-3">

    </div>
</div>
@section scripts {
    <script src="~/Scripts/View-scripts/Inquiry.js"></script>
    }