
@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid mt-3">
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><i class="fa fa-long-arrow-left pr-2"></i>Back to Index</a>
    <hr />
    <div class="row">
        <div class="col-9">
            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
            <div class="mb-4">
                <h5><b>Item ID:</b> 57187</h5>
                <h5><b>Status:</b> <span class="text-success">Active - 09/26/2005</span></h5>
                <h5><b>Product:</b> KIKKOMAN ORGANIC SOY SAUCE / KIKKOMAN - SAUCE SOYA BIOLOGIQUE</h5>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-lg btn-block btn-outline-info">Generate Marketing Report</button>
            <button class="btn btn-lg btn-block btn-outline-primary">Generate Sales Report</button>
            <button class="btn btn-lg btn-block btn-outline-dark">Generate Admin Report</button>
        </div>
    </div>
    <hr />
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vendor / Supplier</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Kikkoman</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Brand Manager</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Keira Hall</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Unit UPC</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">00041390001901</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Size</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">1 Carton / 6 Case / 296ML</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Principal</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">231 - Kikkoman</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Supply Chain Analyst</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Bianca Ceoca</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Case UPC</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">10041390001908</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Perishable / Seasonal</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-productinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-productinfo">
            <h6 class="m-0 font-weight-bold text-white">Product Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-productinfo">
            <div class="card-body">
                <div class="row container">
                    <div class="col">
                        <span><b>National Product Manager: </b><input type="text" class="form-control-plaintext" value="U2" readonly /></span>
                        <span><b>Regional Product Manager:</b> <input readonly class="form-control-plaintext" value="U2" /></span>
                        <span><b>Item Type: </b><input type="text" class="form-control-plaintext" value="Purchased For Resale" readonly /></span>
                        <span><b>Masterial Type: </b><input type="text" class="form-control-plaintext" value="N/a" readonly /></span>
                        <span>
                            <b>Product Groups: </b><br />
                            <span class="d-inline-flex">
                                <input type="number" class="form-control-plaintext" value="80" style="width:60px;" readonly>
                                <input type="number" class="form-control-plaintext" value="10" style="width:60px;" readonly>
                                <input type="number" class="form-control-plaintext" value="27" style="width:60px;" readonly>
                                <input type="number" class="form-control-plaintext" value="05" style="width:60px;" readonly>
                            </span>
                        </span><br />
                        <span><b>WT/Case:</b> <input type="text" class="form-control-plaintext" value=" 3.379 KG(s)" readonly /></span>
                        <span><b>Bottle Size:</b> <input type="text" class="form-control-plaintext" value=" N/a" readonly /></span>
                        <span><b>Moving Avg Cost:</b> <input type="text" class="form-control-plaintext" value="$2.89443 / Piece " readonly /> </span>
                        <span><b>Last Month MAC:</b> <input type="text" class="form-control-plaintext" value="$2.89443 / Piece" readonly /></span>

                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Sold by Weight</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Splitable</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Charge for Split</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Rebate Code</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Allow Discount</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">GST</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">PST</label>
                        </div>
                        <hr />

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Slow Moving</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Hold</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Print Price List</label>
                        </div>
                        <hr />
                        <span><b>Catalog Code:</b> <input readonly class="form-control-plaintext" value="N/A" /></span>
                        <span><b>Commission Code:</b> <input readonly class="form-control-plaintext" value="R" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Supply Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-supplyinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-supplyinfo">
            <h6 class="m-0 font-weight-bold text-white">Supply Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-supplyinfo">
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    <b>Currency:</b> $USD
                </div>
                <div class="row container">

                    <div class="col">
                        <span><b>Supplier List:</b> <input type="text" class="form-control-plaintext" value="U$2.09167 / Piece" readonly /></span>
                        <span><b>List Expiry:</b> <input type="date" class="form-control-plaintext" value="2019-12-31" readonly /></span>
                        <span><b>Equivalent Case:</b> <input type="text" class="form-control-plaintext" value="1.000 Factor" readonly /></span>
                        <span><b>Supplier Pallet Size:</b> <input type="text" class="form-control-plaintext" value="250 H/S" readonly /></span>
                        <span><b>Code:</b> <input type="text" class="form-control-plaintext" value="0000000000" readonly /></span>
                        <span><b>T/C Code:</b> <input type="text" class="form-control-plaintext" value="00" readonly /></span>

                    </div>
                    <div class="col-auto">
                        <span><b>Supplier Item Number:</b> <input type="number" class="form-control-plaintext" value="00190" readonly /></span>
                        <span><b>Duty:</b> <input type="text" class="form-control-plaintext" value="0.00%" readonly /></span>
                        <hr />
                        <span><b>Suggested Retail:</b> <input type="text" class="form-control-plaintext" value="$6.79 / Piece" readonly /></span>
                        <span><b>Base:</b> <input type="text" class="form-control-plaintext" value="$26.58 / Case" readonly /></span>
                        <span><b>High End Deal:</b> <input type="text" class="form-control-plaintext text-danger" value="($2.65 / Case)" readonly /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inventory Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-warehouseinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-warehouseinfo">
            <h6 class="m-0 font-weight-bold text-white">Warehouse / Stock Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-warehouseinfo">
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    <b>Warehouse Location: </b> KPV 31 A
                </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Warehouse Stock</th>
                            <th>Toronto/Mississauga</th>
                            <th>Calgary</th>
                            <th>Surrey</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cases On Order</td>
                            <td>850</td>
                            <td>100</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>Cases On Hand</td>
                            <td>287</td>
                            <td>232</td>
                            <td>131</td>
                        </tr>
                        <tr>
                            <td>Cases Allocated</td>
                            <td>3</td>
                            <td>0</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Cases Available</td>
                            <td>284</td>
                            <td>232</td>
                            <td>129</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Dimensions -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-dimensionsinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-dimensionsinfo">
            <h6 class="m-0 font-weight-bold text-white">Dimensions</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-dimensionsinfo">
            <div class="card-body">

                <div class="row col-12">
                    <table class="table table-bordered col-lg-6">
                        <thead class="thead-dark">
                            <tr>
                                <th>Dimensions</th>
                                <th>Unit</th>
                                <th>Case</th>
                                <th>Export</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Length</td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="5.9" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="19.0" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="19.0" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Width</td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="5.9" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="12.8" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="12.8" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="20.1" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="21.3" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="21.3" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered col-lg-4 offset-2">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>Vendor</th>
                                <th>DC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tie</td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="50">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="42">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Tier</td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="5">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="5">
                                        <div class="input-group-append">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Size</td>
                                <td>
                                    <div class="input-group mb-2">
                                        <input type="number" class="form-control-plaintext" value="296.00">
                                        <div class="input-group-append">
                                            <span class="input-group-text">ML</span>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-primary" role="alert">
                    <b>Purchase Volume: </b> 0.0052 Cubic Meter / Export Carton
                </div>
            </div>
        </div>

    </div>
    <!-- Sales Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-salesinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-salesinfo">
            <h6 class="m-0 font-weight-bold text-white">Sales Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-salesinfo">
            <div class="card-body">
                <div class="d-flex">
                    <table class="table table-bordered table-striped col-lg-6">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4">Current Year Totals</th>
                            </tr>
                        </thead>
                        <thead class="thead-dark">
                            <tr>
                                <th>2018-2019</th>
                                <th>Cases</th>
                                <th>Net Revenue</th>
                                <th>Profit Margin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>May</td>
                                <td>544 <span class="text-success">(+88.2%)</span></td>
                                <td>10892.57 <span class="text-success">(+75.9%)</span></td>
                                <td>1955.22 <span class="text-success">(+54.5%)</span></td>
                            </tr>
                            <tr>
                                <td>Jun</td>
                                <td>520</td>
                                <td>13052.19</td>
                                <td>4507.82</td>
                            </tr>
                            <tr>
                                <td>Jul</td>
                                <td>472</td>
                                <td>10327.74</td>
                                <td>2550.84</td>
                            </tr>
                            <tr>
                                <td>Aug</td>
                                <td>464</td>
                                <td>12137.98</td>
                                <td>4492.89</td>
                            </tr>
                            <tr>
                                <td>Sep</td>
                                <td>288</td>
                                <td>6907.34</td>
                                <td>2009.72</td>
                            </tr>
                            <tr>
                                <td>Oct</td>
                                <td>473</td>
                                <td>11043.89</td>
                                <td>3047.94</td>
                            </tr>
                            <tr>
                                <td>Nov</td>
                                <td>448</td>
                                <td>10018.16</td>
                                <td>2309.14</td>
                            </tr>
                            <tr>
                                <td>Dec</td>
                                <td>291</td>
                                <td>6662.56</td>
                                <td>1608.89</td>
                            </tr>
                            <tr>
                                <td>Jan</td>
                                <td>522</td>
                                <td>13044.20</td>
                                <td>3978.85</td>
                            </tr>
                            <tr>
                                <td>Feb</td>
                                <td>42</td>
                                <td>1130.76</td>
                                <td>401.31</td>
                            </tr>
                            <tr>
                                <td>Mar</td>
                                <td>0</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Apr</td>
                                <td>0</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr class="table-primary font-weight-bold">
                                <td>Total</td>
                                <td>4064 <span class="text-danger">(-32.5%)</span></td>
                                <td>95217.39 <span class="text-danger">(-33.0%)</span></td>
                                <td>26862.62 <span class="text-danger">(-35.4%)</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-striped col-lg-6">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4">Previous Year Totals</th>
                            </tr>
                        </thead>
                        <thead class="thead-dark">
                            <tr>
                                <th>2017-2018</th>
                                <th>Cases</th>
                                <th>Net Revenue</th>
                                <th>Profit Margin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>May</td>
                                <td>289</td>
                                <td>6192.71</td>
                                <td>1265.51</td>
                            </tr>
                            <tr>
                                <td>Jun</td>
                                <td>5504</td>
                                <td>13973.90</td>
                                <td>5342.29</td>
                            </tr>
                            <tr>
                                <td>Jul</td>
                                <td>361</td>
                                <td>7614.08</td>
                                <td>1431.5</td>
                            </tr>
                            <tr>
                                <td>Aug</td>
                                <td>525</td>
                                <td>111086.28</td>
                                <td>2109.28</td>
                            </tr>
                            <tr>
                                <td>Sep</td>
                                <td>330</td>
                                <td>10587.00</td>
                                <td>4944.32</td>
                            </tr>
                            <tr>
                                <td>Oct</td>
                                <td>616</td>
                                <td>13360.15</td>
                                <td>3120.27</td>
                            </tr>
                            <tr>
                                <td>Nov</td>
                                <td>636</td>
                                <td>15604.34</td>
                                <td>5059.97</td>
                            </tr>
                            <tr>
                                <td>Dec</td>
                                <td>595</td>
                                <td>13758.66</td>
                                <td>3911.67</td>
                            </tr>
                            <tr>
                                <td>Jan</td>
                                <td>334</td>
                                <td>9757.36</td>
                                <td>34260.71</td>
                            </tr>
                            <tr>
                                <td>Feb</td>
                                <td>543</td>
                                <td>11217.73</td>
                                <td>2308.44</td>
                            </tr>
                            <tr>
                                <td>Mar</td>
                                <td>729</td>
                                <td>16102.53</td>
                                <td>4141.43</td>
                            </tr>
                            <tr>
                                <td>Apr</td>
                                <td>561</td>
                                <td>12900.45</td>
                                <td>3688.82</td>
                            </tr>
                            <tr class="table-primary font-weight-bold">
                                <td>Total</td>
                                <td>6023</td>
                                <td>142155.19</td>
                                <td>41584.22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-pricinginfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-pricinginfo">
            <h6 class="m-0 font-weight-bold text-white">Pricing Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-pricinginfo">
            <div class="card-body">
                <table class="table table-bordered datatable">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Zone Price Name</th>
                            <th>Zone 1</th>
                            <th>Z1 Mrg</th>
                            <th>Z1 Pgm</th>
                            <th>Zone 3</th>
                            <th>Z3 Mrg</th>
                            <th>Z3 Pgm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td><a href="#?" data-toggle="modal" data-target="#priceModal-0"><b><u>Retail</u></b></a></td>
                            <td>6.79</td>
                            <td>57.37</td>
                            <td>6.79</td>
                            <td>6.79</td>
                            <td>57.37</td>
                            <td>6.79</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Store Door</td>
                            <td>26.58</td>
                            <td>34.68</td>
                            <td>26.58</td>
                            <td>26.58</td>
                            <td>34.68</td>
                            <td>26.58</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Wholesale</td>
                            <td>23.70</td>
                            <td>26.75</td>
                            <td>23.70</td>
                            <td>23.70</td>
                            <td>26.75</td>
                            <td>23.70</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Amazon</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>27.24</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>23.10</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Unused</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                    </tbody>
                </table>
                <!-- The Modal -->
                <div class="modal  fade " id="priceModal-0">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Historical Price Changes</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Date Effective</th>
                                            <th>New Z1</th>
                                            <th>New Z3</th>
                                            <th>Changed By</th>
                                            <th>Changed On</th>
                                            <th>Z1 Pgm</th>
                                            <th>Z3 Pgm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10/29/17</td>
                                            <td>6.43</td>
                                            <td>6.43</td>
                                            <td>QSYSOPR</td>
                                            <td>06/21/17</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>09/01/18</td>
                                            <td>0.00</td>
                                            <td>6.79</td>
                                            <td>HALLKEI</td>
                                            <td>07/05/18</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>09/02/18</td>
                                            <td>6.79</td>
                                            <td>0.00</td>
                                            <td>HALLKEI</td>
                                            <td>07/05/18</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PO Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-poinfo" class="d-block card-header bg-info py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-poinfo">
            <h6 class="m-0 font-weight-bold text-white">Supply Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-poinfo">
            <div class="card-body">
                <table class="table table-bordered datatable" id="dataTable-poinfo">
                    <thead class="thead-dark">
                        <tr>
                            <th>PO# / MPB</th>
                            <th>Vendor</th>
                            <th>Status</th>
                            <th>Order Date</th>
                            <th>ETA Date</th>
                            <th>Order Quantity</th>
                            <th>UM</th>
                            <th>Receiving DateTime</th>
                            <th>Qty received/shipped</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-warning">
                            <td>247206</td>
                            <td>460 - Kikkoman</td>
                            <td>New</td>
                            <td>02/14/19</td>
                            <td>03/14/19</td>
                            <td>500</td>
                            <td>CA</td>
                            <td>-</td>
                            <td>0</td>
                        </tr>
                        <tr class="table-success">
                            <td>246790</td>
                            <td>460 - Kikkoman</td>
                            <td>Complete</td>
                            <td>01/25/19</td>
                            <td>02/14/19</td>
                            <td>100</td>
                            <td>CA</td>
                            <td>02/14/19 16:52</td>
                            <td>100</td>
                        </tr>
                        <tr class="table-success">
                            <td>246782</td>
                            <td>460 - Kikkoman</td>
                            <td>Complete</td>
                            <td>01/25/19</td>
                            <td>02/08/19</td>
                            <td>750</td>
                            <td>CA</td>
                            <td>02/11/19 14:56</td>
                            <td>750</td>
                        </tr>
                        <tr>
                            <td>247206</td>
                            <td>460 - Kikkoman</td>
                            <td>New</td>
                            <td>02/14/19</td>
                            <td>03/14/19</td>
                            <td>500</td>
                            <td>CA</td>
                            <td>-</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>247206</td>
                            <td>460 - Kikkoman</td>
                            <td>New</td>
                            <td>02/14/19</td>
                            <td>03/14/19</td>
                            <td>500</td>
                            <td>CA</td>
                            <td>-</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').DataTable();
        });
    </script>
}
